<div class="course-table-container">
    <h2>Kurslista</h2>
    <div class="search">
        <label for="filter">Sök efter kurs</label>
        <input type="text" id="filter" [(ngModel)]="searchValue" (input)="applySearch()">
    </div>
    <table class="course-table">
        <thead>
            <tr>
                <th>Kurskod</th>
                <th>Kursnamn</th>
                <th>Progression</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of searchedCourses">
                <td>{{ course.code }}</td>
                <td>{{ course.coursename }}</td>
                <td>{{ course.progression }}</td>
            </tr>
        </tbody>
    </table>
</div>