<div class="course-table-container">
    <div class="search">
        <label for="filter">Sök efter kurs:</label>
        <input type="text" id="filter" [(ngModel)]="searchValue" (input)="applySearch()">
    </div>
    <table class="course-table">
        <thead>
            <!-- Tabellhuvud för sortering efter kurskod, kursnamn eller progression -->
            <tr>
                <th (click)="sortData('code')"><span class="clickable">Kurskod</span></th>
                <th (click)="sortData('coursename')"><span class="clickable">Kursnamn</span></th>
                <th (click)="sortData('progression')"><span class="clickable">Progression</span></th>
            </tr>
        </thead>
        <tbody>
            <!-- Loopa igenom sökresultaten och rendera en rad för varje kurs -->
            <tr *ngFor="let course of searchedCourses">
                <td>{{ course.code }}</td>
                <td>{{ course.coursename }}</td>
                <td>{{ course.progression }}</td>
            </tr>
        </tbody>
    </table>
</div>